<div class="palette-item" data-category="{{category}}" data-widget="{{widget}}"> 
    <img loading="lazy" src="{{{icon}}}" class="img-fluid" />
    <br /> 
    <span> {{translate "widgets.AudioTermContainer.label"}}</span>
</div>