<button class="btn btn-sm btn-success" onclick="indieauthor.api.addContent('{{id}}', '{{widget}}', '{{type}}')"
    data-toggle="tooltip" title="{{translate "items.add"}}">
    <i class="fa fa-plus-circle"></i>
</button>