<button class="btn btn-sm btn-success" onclick="indieauthor.api.exportElement('{{id}}')" data-toggle="tooltip"
    title="{{translate "items.export"}}">
    <i class="fa fa-file-export"></i>
</button>