# Ignore everything
*
# Allow the following files and directories
!/assets
!/backend
!/config/production.json
!/templates
!/web
!/contentgenerator.jar
!/LICENSE
!/package.json
!/package-lock.json
!/pm2.config.js