<div id="modal-loading" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-header modal-indie">
            <h2 id="modal-settings-tittle" class="modal-title">
                {{translate "common.loading.title" }}
            </h2>
        </div>
        <div class="modal-content border-indie">
            <div class="lds-default">
                <div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="loading-message text-center font-weight-bold pb-4 mb-4">
            </div>
        </div>
    </div>
</div>