<div class="palette-item" data-category="{{cat}}" data-widget="{{widget}}">
    <img loading="lazy" width="45" height="48" src="{{{icon}}}" class="img-fluid" alt="" />
    <br/>
    <span>{{label}}</span>
</div>