<form id="f-{{instanceId}}">
    <div class="form-group">
        <label for="textblockText">{{translate "widgets.TextBlock.form.label" }}</label>
        <textarea rows="10" class="form-control texteditor" name="textblockText"></textarea>
        <small class="form-text text-muted">{{translate "widgets.TextBlock.form.help" }}</small>
    </div>
</form>