.widget-text-block {
    .b2 {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .b2 * {
        vertical-align: middle;
        margin-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
