#modal-bank-widgets {

    input[type=checkbox] {
        transform: scale(1.5);
    }

    #button-search-bank-widget {
        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    .select-filter {

        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        color: #495057;

        @media screen and (max-width: 992px) {
            padding: 0.375rem 0.75rem !important;
            margin-bottom: 10px;
        }
    }
    
    #filter-bank-widget {
        display: flex;
        padding : 0;
    }

    .widget-button {
        border-radius: 15px;
        display: flex;
        padding-right: 30px !important;
        @media screen and (max-width: 575px) {
           display: block !important;
           padding-right: 0 !important;
        }
    } 
    .panel-bank-widgets {
        max-height: 500px;
        overflow-y: scroll;
    }
    
    .options-bank-widgets {
        display: flex; 
        justify-content: space-between;

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

   .random-label {
     padding-left: 5px;
   }

   .select-all-label {
     padding-right: 35px;
     display: flex; 
     align-items:center; 
     justify-content: flex-end;

     .select-all-input {
        margin-left: 10px;
     }

     @media screen and (max-width: 992px) {
        flex-direction: row-reverse;
        padding-right: 0px;
        padding-left: 5px !important;
        row-gap: 1em;
        
        .select-all-input{
            margin-right: 10px;
            margin-left: 0;
        }
    }
   }
}