<!DOCTYPE html>
<head>
    <title>INDIeAuthor | Prototype</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#FF055F">
    <link rel="apple-touch-icon" href="/icon-192.png">
</head>
<body>
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-dark flex-row bd-navbar fixed-top p-0">
        <a class="navbar-brand ml-2" href="#">INDIeAuthor</a>
        <button class="navbar-toggler mr-2" type="button" data-author-toggle="collapse" data-target="#navbarOptions"
            data-toggle="tooltip" data-title=""
            aria-controls="navbarOptions" aria-expanded="false" aria-label="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse editor-container-header px-2 py-1" id="navbarOptions">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none">
                    <button type="button" class="btn btn-block btn-header btn-info author-translate" data-toggle="tooltip" data-title="">
                        <i class="fa fa-language"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item d-none">
                    <button type="button" class="btn btn-block btn-header btn-info author-install" data-toggle="tooltip" data-title="">
                        <i class="fa fa-download"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-publish" data-toggle="tooltip" data-title="">
                        <i class="fa fa-globe"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-publishToNetlify" data-toggle="tooltip" data-title="">
                        <i class="fa fa-n"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-scorm" data-toggle="tooltip" data-title="">
                        <i class="fa fa-box-open"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-preview" data-toggle="tooltip" data-title="">
                        <i class="fa fa-eye"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-validate" data-toggle="tooltip" data-title="">
                        <i class="fa fa-check"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <input type="file" accept="application/json" id="upload-file-model" hidden />
                    <button type="button" id="upload-model" class="btn btn-block btn-header btn-info author-upload" data-toggle="tooltip" data-title="">
                        <i class="fa fa-cloud-upload-alt"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-download" data-toggle="tooltip" data-title="">
                        <i class="fa fa-cloud-download-alt"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-undo" data-toggle="tooltip" data-title="">
                        <i class="fa fa-undo"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-info author-redo" data-toggle="tooltip" data-title="">
                        <i class="fa fa-redo"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-success author-add-section" data-toggle="tooltip" data-title="">
                        <i class="fa fa-plus-circle"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-success author-import-section" data-toggle="tooltip" data-title="">
                        <i class="fa fa-file-import"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-block btn-header btn-danger author-clear" data-toggle="tooltip" data-title="">
                        <i class="fa fa-trash-alt"></i>
                        <span class="d-md-none btn-text"></span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- PAGE CONTENT -->
    <div class="container-fluid content">
        <div class="row">
            <div class="col-3 col-md-3 col-lg-2 bd-sidebar">
                <nav class="palette-nav">
                    <div id="palette" data-type="palette" class="dragula-container row no-gutters">
                        <!-- ITEMS WILL BE PLACED HERE -->
                    </div>
                </nav>

            </div>
            <main role="main" class="col-9 col-md-9 col-lg-10 offset-3 offset-lg-2 bd-content no-padding">
                <div class="editor-container">
                    <div id="main-container" data-type="main-container" data-content>

                    </div>
                </div>
                <div id="editor-footer" class="editor-footer">
                    <div class="alert alert-pale" role="alert"></div>
                </div>
            </main>
        </div>
    </div>
    <script>IndieAuthor.start();</script>
</body>

</html>