<!DOCTYPE html>
<head>
    <title>INDIeAuthor | Prototype</title>
    <meta charset="utf-8">
</head>
<body>
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand" href="#">INDIeAuthor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Content <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- PAGE CONTENT -->
    <div class="container-fluid main-content">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 bd-sidebar">
                <nav class="palette-nav">
                    <div id="palette" data-type="palette" class="dragula-container row">
                        <!-- ITEMS WILL BE PLACED HERE -->
                    </div>
                </nav>

            </div>
            <main role="main" class="col-12 col-md-9 col-lg-10 offset-md-3 offset-lg-2  bd-content no-padding">
                <div class="editor-container-header">
                    <div class="col left">
                        <!-- Left buttons in header -->
                        <button class="btn btn-header btn-info l author-publish" 
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-globe"></i></button>
                        <button class="btn btn-header btn-info l author-scorm" 
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-box-open"></i></button>
                        <button class="btn btn-header btn-info l author-preview" 
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-eye"></i></button>
                        <button class="btn btn-header btn-info l author-validate"
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-check"></i></button>
                        <input type="file" accept="application/json" id="upload-file-model" hidden />
                        <button id="upload-model" class="btn btn-header btn-info author-upload" 
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-cloud-upload-alt"></i>
                        </button>
                        <button class="btn btn-header btn-info author-download" 
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-cloud-download-alt"></i>
                        </button>
                        
                        <!-- Right buttons in header -->
                        <button class="btn btn-header btn-info r author-undo" 
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-undo"></i>
                        </button>

                        <button class="btn btn-header btn-info r author-redo" 
                            data-toggle="tooltip" data-title="">
                            <i class="fa fa-redo"></i>
                        </button>

                        <button class="btn btn-header btn-success r author-add-section"
                            data-toggle="tooltip" data-title=""> 
                            <i class="fa fa-plus-circle"></i>
                        </button>
								
						<button class="btn btn-header btn-success r author-import-section"
                            data-toggle="tooltip" data-title=""> 
                            <i class="fa fa-file-import"></i>
                        </button>
								
                        <button class="btn btn-header btn-danger r author-clear"
                            data-toggle="tooltip" data-title=""> 
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
                <div class="editor-container">
                    <div id="main-container" data-type="main-container" data-content>

                    </div>
                </div>
                <div id="editor-footer" class="editor-footer">
                    <div class="alert alert-pale" role="alert"></div>
                </div>
            </main>
        </div>
    </div>

    <!-- MODAL SETTINGS-->
    <div id="modal-settings" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content border-indie">
                <div class="modal-header modal-indie">
                    <h5 id="modal-settings-tittle" class="modal-title">Modal title</h5>
                </div>
                <div id="modal-settings-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-indie btn-submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>