<form id="f-netlify-settings">
    <div class="form-group">
        <label for="token-netlify">{{translate "netlify.config.token.label"}}</label>
        <input type="text" id="token-netlify" name="token-netlify" class="form-control" value="{{token}}"
            placeholder="{{translate "netlify.config.token.placeholder"}}" autocomplete="off" required />
        <small class="form-text text-muted">{{translate "netlify.config.token.help"}}</small>
    </div>
    <div id="div-sites" class="form-group d-none">
    </div>
    <input type="submit" class="hide"  />
</form>