<!-- MODAL PREVIEW GENERATED -->
<div id="modal-preview-generated" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header modal-indie">
                <h2 class="modal-title h5">{{translate 'common.preview.generated.title' }}</h2>
            </div>
            <div class="modal-body modal-break-url">
                <p>
                    {{translate 'common.preview.generated.description' }}
                    <a id="modal-preview-generated-url" href="" target="_blank"></a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ translate 'general.close' }}</button>
            </div>
        </div>
    </div>
</div>